.h-container {
  margin: 0;
  padding: 0;
  .bt-header{
    padding:14px 20px;
    .content{
      height: 80px;
      border-radius: 4px;
      box-shadow: 0.5px 0.5px 0.5px 1px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      .portrait{
        width: 60px;
        height: 60px;
        margin-left: 14px;
        border-radius: 50%;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 0;
        }
      }
      .content-information{
        margin-left: 10px;
        .name{
          font-size: 20px;
          font-weight: 600;
        }
        .account-number{
          font-size: 14px;
          margin-top: 10px;
          width: 240px;
          display: flex;
          justify-content: space-between;
          p:nth-child(2){
            color: #cdcdcd;
            margin-left: 10px;
            text-align:right;
          }
        }
      }
    }
  }
  .bt-content{
    width: 100%;
    margin-top: 20px;
    .bt-navigation{
      width: 100%;
      border-bottom: 1px solid #9a9a9a;
      font-size: 16px;
      display: flex;
      justify-content: center;
      p{
        width: 50%;
        text-align: center;
        color: #cdcdcd;
        span{
          margin-top: 6px;
        }
      }
      .bt-syle{
        color: #0067f2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span{
          display: inline-block;
          width: 14px;
          height: 3px;
          background-color: #0067f2;
          border-radius: 50px;
        }
      }
    }
    .bt-time-axis{
      margin-top: 20px;
      padding-left: 20px;
      position: relative;
      overflow: hidden;
      h5{
        font-size: 16px;
        height: 24px;
      }
      .bt-time-axis-list{
        display: flex;
        font-size: 16px;
        padding-left: 6px;
        height: 50px;
        .bt-time{
          width: 60px;
          font-size: 16px;
        }
        .bt-word{
          padding-left: 20px;
          position: relative;
          color: #cdcdcd;
          font-size: 14px;
          span{
            margin-left: 2px;
          }
          .bt-circular{
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #388dea;
            background-color: #ffffff;
            position: absolute;
            top: 0;
            left: -11px;
            z-index: 1;
          }
        }
      }
      .bt-timeline{
        position: absolute;
        top: 24px;
        left: 86px;
        height: 100%;
        border-left: 1px solid #333333;
      }

    }
    .bt-recent-visit{
      padding: 10px 0 0 0;
      .title{
        display: flex;
        color: #cdcdcd;
        padding-left: 20px;
        padding-bottom: 10px;
        p{
          width: 33%;
          font-size: 16px;
          text-align: center;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        p:nth-child(1){
          text-align: left;
        }
      }
      .bt-recent-visit-list{
        li{
          display: flex;
          padding: 10px 0 10px 20px;
          p{
            width: 33%;
            font-size: 16px;
            text-align: center;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          p:nth-child(1){
            text-align: left;
          }
        }
      }
    }
  }
  .bt-tips{
    font-size: 20px;
    text-align: center;
    color: #cdcdcd;
  }
}
