.h-container {
  div{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  .product-head{
    width: 100%;
    height: 256px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .product-head-atlas{
      position: absolute;
      left: 50%;
      bottom: 0;
      font-size: 12px;
      background-color: rgba(0,0,0,0.5);
      padding: 4px 6px;
      transform: translate(-50%, -50%);
      color: #ffffff;
      box-sizing: border-box;
      display: flex;
      border-radius: 25px;
      align-items: center;
      .product-head-atlas-img{
        width: 12px;
        height: 12px;
        margin-right: 6px;
        margin-left: 4px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .product-head-atlas-title{
        display: flex;
        //justify-content: center;
        align-items: center;
        span{
          display: flex;
          align-items: center;
        }
      }
    }
   }
  .product-info{
       width: 100%;
     padding: 20px;
     //border-radius: 10px 10px 0 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
     //margin-top: 6px;
    z-index: 1;
     .product-name{
       font-size: 20px;
       font-weight: 600;
       margin-bottom: 10px;
     }
     .product-tip{
       color: #3d3d3d;
       font-size: 14px;
       line-height: 150%;
       //margin-bottom: 6px;
     }
     .product-tit{
       margin-top: 6px;
       display: flex;
       flex-wrap:wrap;
       .product-tit-content{
         display: flex;
         align-items: center;
         font-size: 12px;
         background-color: #f5f5f5;
         color: #a5a5a5;
         padding: 4px 4px;
         margin-right: 8px;
       }
     }
    .product-extend{
      padding-top: 10px;
      font-size:16px;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
      video{
        width: 100%;
        height: 100%;
      }
      p{
        width: 100% !important;
        overflow: hidden;
        div{
          width: 100% !important;
        }
      }
    }
   }
  .product-a{
    height: 4px;
    background-color: #f5f5f5;
    width: 100%;
  }
  .product-title-set{
    padding: 20px 0 0 20px;
    .product-set-content{
      display: flex;
      align-items: center;
      overflow-y: hidden;
      .product-title-list{
        font-size: 17.67px;
        padding-right: 20px;
        white-space:nowrap;
        color: #a2a2a2;
        h5{
          font-weight: 500;
        }
        h6{
          display: flex;
          justify-content: center;
          span{
            display: inline-block;
            width: 16px;
            height: 4px;
            border-radius: 60px;
            background-color: #000000;
            display: none;
          };
        }
      }
      .title-set{
        h5{
          color: #343434;
          font-weight: 700;
          font-size: 18px;
        }
        h6{
          span{
            display: inline-block;
          }
        }
      }
    }

  }
  .product-example{
    padding: 20px;
    padding-top: 0;
    .product-example-title{
      font-size: 20px;
    }
    .product-example-content{
      margin-top: 20px;
      .product-example-list{
        video{
          width: 100%;
          border-radius: 10px;
          border: 0;
        }
      }
    }
  }
  //活动集锦
  .product-activity{
    padding: 20px;
    .product-activity-title{
      font-size: 20px;
    }
    .product-activity-content{
      .product-activity-list{
        margin-top: 20px;
        position: relative;
        img{
          width: 100%;
          border-radius: 10px;
        }
        .product-activity-list-content{
          position: absolute;
          display: flex;
          align-items: center;
          left: 0;
          bottom: 8px;
          padding: 6px 10px;
          background-color: rgba(0,0,0,0.5);
          font-size: 16px;
          color: #ffffff;
          //height: 20px;
          width: 100%;
          border-radius: 0 0 10px 10px;
          h6{
            font-size: 14px;
          }
          .van-icon{
            font-size: 14px;
          }
        }
      }
    }
  }
  //产品评测
  .product-evaluating{
    padding: 20px;
    .product-evaluating-title{
      font-size: 20px;
    }
    .product-evaluating-content{

      .product-evaluating-list{
        margin-top: 20px;
        a{
          display: flex;
        }
        .product-evaluating-list-img{
          width: 120px;
          height: 90px;
          border-radius: 10px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .product-evaluating-list-content{
          font-size: 16px;
          width: 200px;
          padding-top: 10px;
          margin-left: 10px;
          p{
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          div{
            text-align: right;
            margin-top: 10px;
            font-size: 14px;
            color: #8d8d8d;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            p{
              width:30px;
              border: 1px solid #8d8d8d;
            }
          }
        }
      }
    }
  }
  //售后服务
  .product-service{
    padding: 20px;
    .product-service-title{
      font-size: 20px;

    }
    .product-service-content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .product-service-content-img{
        width: 120px;
        border-radius: 10px;
        background-color: #f5f5f5;
        text-align: center;
        padding: 10px 0;
        img{
          width: 100px;
          height: 100px;
        }
        p{
          font-size: 12px;
          color: #000;
        }
      }
      .product-service-content-right{
        margin-left: 20px;
        padding-top: 20px;
        h6{
          font-size: 18px;
        }
        p{
          font-size: 16px;
          margin-top: 6px;
          a{
            display: flex;
            align-items: center;
          }
          img{
            width: 20px;
            height: 20px;
          }
          span{
            padding-left: 6px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  //常见问题
  .product-problem{
    padding: 20px;
    .product-problem-title{
      font-size: 20px;

    }
    .product-problem-content{
      .product-problem-list{
        margin-top: 20px;
        position: relative;
        img{
          width: 100%;
          border-radius: 10px;
        }
        .product-problem-list-content{
          position: absolute;
          display: flex;
          align-items: center;
          left: 0;
          bottom: 8px;
          padding: 6px 10px;
          background-color: rgba(0,0,0,0.5);
          font-size: 16px;
          color: #ffffff;
          //height: 20px;
          width: 100%;
          border-radius: 0 0 10px 10px;
          h6{
            font-size: 14px;
          }
          .van-icon{
            font-size: 14px;
          }
        }
      }
    }
  }
  //网络商城
  .product-shopping{
    padding: 20px;
    .product-shopping-title{
      font-size: 20px;
    }
    .product-shopping-content{
      .product-shopping-content-list{
        margin-top: 20px;
        display: flex;
        .product-shopping-content-img{
          width: 120px;
          border-radius: 10px;
          text-align: center;
          padding: 10px 0;
          img{
            width: 100px;
            height: 100px;
          }
          p{
            font-size: 12px;
            color: #9a9a9a;
          }
        }
        .product-shopping-content-right{
          margin-left: 16px;
          padding-top:20px ;
          h5{
            font-size: 18px;
          }
          h6{
            font-size: 16px;
            margin-top: 16px;
            font-weight: 500;
            color: #323232;
          }
          p{
            font-size: 14px;
            margin-top: 6px;
            color: #9a9a9a;
          }
        }
      }
    }
  }
  .product-foot-img{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .product-workOrder{
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: transparent;
    div{
      background-color:#ffffff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 12px;
      color: #0093f2;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      text-align: center;
      img{
        width: 18px;
        height: 18px;
      }
    }
    .product-workOrder-ask{
      margin-top: 10px;
    }
  }
  .Loadmore{
    font-size: 14px;
    display: flex;
    align-items: center;
    //flex-direction: row-reverse;
    justify-content: center;
    color: #8d8d8d;
  }
























   .product-in-list{
       margin-top: 20px;
       .product-in-item{
           margin-bottom: 20px;
           width: 100%;
           padding: 20px;
           box-sizing: border-box;
           display: flex;
           box-shadow: 0 0 10px #efeded;
           border-radius: 10px;
           align-items: center;
           color: #999;
           span{
               display: flex;
               align-items: center;
               i{
                    font-size: 26px;
                }
           }
           
           .right{
               margin-left: auto;
           }
           p{
               font-size: 16.67px;
               margin-left: 10px;
           }
       }
   }
    .product-attention{
        width: 100%;
      div{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
      p{
        font-size: 14px;
        text-align: center;
      }
    }
}
