.h-container {
    .find-swiper{
        .van-swipe-item{
           padding-right: 20px;
           box-sizing: border-box;
        }
    }
    .app-info-htmlCont{
        .aimg{
            position: relative;
            display: inline-block;
            &::after{
                content: "";
                width: 25px;
                height: 25px;
                background: url(~@/assets/images/jump-icon.png) no-repeat;
                background-size: cover;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
        a{
            color: deepskyblue;
            word-break: break-all;
            overflow: auto;
        }
        
        video{
            max-width: 100%;
        }
        p{
            color: #333;
        }
        img{
            max-width: 100% !important;
            height: auto !important;
        }
        div{
            margin-bottom: 40rpx;
            color: #333;
            line-height: 180%;
        }
    }

    .van-uploader{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color:transparent;
        input{
            background-color:transparent;
            width: 100%;
            height: 100%;
        }
        .van-uploader__wrapper{
            width: 100%;
            height: 100%;
            .van-uploader__upload{
                background-color:transparent;
                padding: 0;
                margin: 0;
            }
            .van-uploader__input{
                position:relative;
                background-color:transparent;
            }
        }
        .van-uploader__upload-icon{
            font-size: 0;
        }
    }
}
