.h-container {
    background: #f5f5f5;
    .v-image-box {
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
    }
    .author-box{
        background: white;
        color: #999;
        font-size: 14px;
        padding: 10px 20px;
        box-sizing: border-box;
        .author-body{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .return-head{
        width: 100%;
        height: 45px;
        background: #333333;
        display: flex;
        top: 0;
        left: 0;
        padding: 0 10px;
        z-index: 1000;
        box-sizing: border-box;
        position: fixed;
        .return-head-home{
            position: absolute;
            left: 10px;
            height: 45px;
            display: flex;
            align-items: center;
            i{
                font-size: 26px;
                color: white;
            }
        }
        .return-head-text{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .retrun-head-logo{
                width: 30px;
                height: 30px;
                margin-right: 5px;
                display: flex;
                img{
                    width: 100%;
                    height:100%;
                    border-radius: 50%;
                    object-fit: cover;
                    margin: auto;
                }
            }
            p{
                font-size: 16px;
                font-weight: 600;
                max-width: 200px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: white;
            }
        }

    }
    .v-image-audio {
                position: absolute;
                left: 20px;
                bottom: 85px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                    img{
                        width: 30px;
                        height: 22.5px;
                    }
            }
    .app-video-box {
        width: 100%;
        height: 210px;
        position: relative;
        display: flex;
        .com-video {
            width: 100%;
            position: relative;
            .video-play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 100;
                color: white;
            }
            .my-video {
                width: 100%;
                height: 210px;
            }
        }
    }
    .app-info-box {
        width: 100%;
        padding: 20px;
        height: auto;
        background: white;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        .app-info-title {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            .app-info-title-content{
                display: flex;
                justify-content: center;
                align-items: center;
                .van-icon-good-job-o{
                    padding: 0 4px;
                }
                span{
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            span{
                margin-left:auto ;
                font-size: 13px;
                color: #999;
            }
            .app-info-link {
                height: 30px;
                font-size: 14px;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: normal;
                color: #999999;
            }
        }
        .app-info-text {
            margin: 10px 0;
            line-height: 25.5px;
            font-size: 14px;
            color: #333;
            background: white;
        }
        .app-info-tips {
            margin-top: 25px;
            .app-info-tips-item {
                display: flex;
                margin-bottom: 10px;
                font-size: 16px;
                .app-info-tips-item-lab {
                    margin-right: 10px;
                    width: 90px;
                    font-weight: 600;
                    color: #999;
                    flex-shrink: 0;
                }
                .app-info-tips-item-title {
                    width: 200rpx;
                    color: #333;
                }
            }
        }
        
    }
    .app-info-htmlCont {
        background: white;
        width: 100%;
        padding: 0 20px 20px 20px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .app-info-jump {
        width: 100%;
        margin-top: 15px;
        background: white;
        .app-info-title1 {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #cccccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            box-sizing: border-box;
            .app-info-title-left {
                display: flex;
                height: 60px;
                align-items: center;
                img {
                    width: 23px;
                    height: 23px;
                }
                .app-info-titles {
                    font-size: 20px;
                    color: #5287fd;
                    font-weight: bold;
                    margin-left: 5px;
                }
                .app-info-texts {
                    font-size: 14px;
                    color: #999;
                    margin-left: 5px;
                    margin-top: 7.5px;
                }
            }
        }
        .app-info-jump-list {
            padding: 10px 20px;
            box-sizing: border-box;
            width: 100%;
        }
    }
    .find-swiper {
        width: 100%;
        height: 125px;
        box-sizing: border-box;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        .images{
            width: 90px;
            height: 90px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .swiper-text {
            font-size: 16px;
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .app-info-ta-list {
        padding: 10px 20px;
        box-sizing: border-box;
        .app-info-ta-item {
            width: 100%;
            padding-bottom: 10px;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            .app-info-ta-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .app-info-ta-title-left {
                    display: flex;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    align-items: center;
                    .app-info-jump-item-text {
                        font-size: 16.68px;
                        color: #333;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .app-audio-box {
                    width: 75px;
                    height: 25px;
                    color: white;
                    //display: flex;
                    //align-items: center;
                    background: #5287fd;
                    border-radius: 999px;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding: 0 5px;
                }
            }
            .app-info-ta-body {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                .app-info-ta-body-info {
                    width: 210rpx;
                    .app-info-ta-body-text {
                        font-size: 16px;
                        color: #999;
                        line-height: 150%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                    .app-info-ta-body-tips {
                        display: flex;
                        justify-content: space-between;
                        color: #999;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
                .app-info-ta-body-image {
                    width: 110px;
                    height: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .app-info-jump{
        .app-info-jump-list{
            .pl-cont-body{
                width: 100%;
                .app-pl-list-item{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .app-pl-list-item-media{
                        width: 50px;
                        height: 50px;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .app-pl-list-item-body{
                        width: 280px;
                        .app-pl-list-item-info{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 4px;
                            .app-pl-list-item-user{
                                font-size:16px;
                                .app-pl-user{
                                    font-size: 16px;
                                    color: #999;
                                }
                                .app-pl-tip{
                                    font-size: 14px;
                                    color: #ea7152;
                                    border: 1px solid #ea7152;
                                    border-radius: 999px;
                                    padding: 0 5px;
                                    margin-left: 1px;
                                }
                            }
                        }
                    }
                    .app-pl-list-item-cont{
                        font-size: 16px;
                        color: #333;
                        margin-top: 6px;
                        .pl-images-box{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            overflow: hidden;
                            .pl-images{
                                //width: 80px;
                                height: 80px;
                                flex-shrink: 0;
                                margin-right: 6px;
                            }
                        }
                    }
                    .app-pl-list-item-item{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        align-items: center;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 20px;
                        .pl-time{
                            font-size: 14px;
                            color: #999;
                        }
                        .pl-tips{
                            display: flex;
                            color: #999;
                            align-items: center;
                            font-size: 16.68px;
                            .app-pl-item-link{
                                font-size: 16.68px;
                                color: #999;
                                display: flex;
                                align-items: center;
                            }
                            .pl-hf{
                                margin-left: 20px;
                                display: flex;
                                align-items: center;
                                font-size: 16.68px;
                                position: relative;
                            }
                        }
                    }
                    .pl-hf-body{
                        padding: 40px 0;
                        border-bottom: 1px solid #ccc;
                        .app-pl-hf-item{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 6px;
                            .app-pl-hf-item-media{
                                width: 50px;
                                height: 50px;
                                img{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                            }
                            .app-pl-hf-item-body{
                                width: 220px;
                                .app-pl-list-item-user{
                                    font-size:14px;
                                }
                                .pl-images-box{
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                .pl-images{
                                    width: 100px;
                                    height: 100px;
                                    flex-shrink: 0;
                                    margin-right: 5px;
                                }
                                .app-pl-voice{
                                    width: 120px;
                                    height: 30px;
                                    background: #5287fd;
                                    border-radius: 999px 999px 999px 0;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 10px;
                                    box-sizing: border-box;
                                    span{
                                        font-size: 14px;
                                        color: #ffffff;
                                        margin-left: 10px;
                                    }
                                    img{
                                        width: 14px;
                                        height: 15px;
                                    }
                                }
                                .app-pl-list-item-cont{
                                    font-size: 14px;
                                    color: #333;
                                    margin-top: 10px;
                                }
                                .app-pl-list-item-item1{
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: 20px;
                                    align-items: center;
                                    .pl-time{
                                        font-size: 14px;
                                        color: #999;
                                    }
                                    .pl-tips{
                                        display: flex;
                                        color: #999;
                                        align-items: center;
                                        font-size: 16px;
                                    }
                                    .pl-hf{
                                        margin-left: 10px;
                                        display: flex;
                                        align-items: center;
                                        font-size: 16px;
                                        position: relative;
                                    }
                                }
                            }

                        }

                    }

                }

            }
        }

    }
    .pl-input-body{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
        z-index: 100;
        .pl-send-text{
            width: 220px;
            height: 35px;
            background: #f5f5f5;
            border-radius: 999px;
            display: flex;
            align-items: center;
            .weui-input{
                width: 100%;
                height: 35px;
                background: #f5f5f5;
                border-radius: 999px;
                padding-left: 12px;
                box-sizing: border-box;
                border: 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 35px;
            }

        }
        .pl-send-img{
            font-size: 16px;
            height: 20px;
            width: 20px;
            margin-left: 10px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .pl-send-ly{
            display: flex;
            align-items: center;
            margin-left: 10px;
            button{
                border: 0;
                //background-color: #fff;
                font-size: 16px;
                padding: 5px  10px;
                background-color: #07c160;
                color: #fff;
                border-radius: 4px;
            }
        }
    }

.van-uploader{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color:transparent;
    input{
        background-color:transparent;
    }
    .van-uploader__wrapper{
        width: 100%;
        height: 100%;
        .van-uploader__upload{
            background-color:transparent;
        }
        .van-uploader__input{
            position:relative;
            background-color:transparent;
        }
    }
}
button{
    background-color: #ffffff;
    border: 0;
}
.app-subscribe{
    display: flex;
    padding: 20px 0;
    .app-subscribe-title{
        color: #5089fc;
        display: flex;
        width: 90px;
        align-items: center;
        .app-subscribe-icont{
            width: 16px;
            height: 16px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        span{
            padding-left: 8px;
        }
    }
    .app-subscribe-number{
        display: flex;
        justify-content: center;
        align-items: center;
        span:nth-child(2){
            margin-left: 10px;
        }
    }
}
}
