.h-container {
    .find-swiper{
        .van-swipe-item{
           padding-right: 20px;
           box-sizing: border-box;
        }
    }
    .app-info-htmlCont{
        .aimg{
            position: relative;
            &::after{
                content: "";
                width: 25px;
                height: 25px;
                background: url(~@/assets/images/jump-icon.png) no-repeat;
                background-size: cover;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
        a{
            color: deepskyblue;
            word-break: break-all;
            overflow: auto;
            display: inline-block;
        }
        video{
            max-width: 100%;
        }
        p{
            margin-bottom: 20px;
            color: #333;
            line-height: 180%;
        }
        img{
            max-width: 100% !important;
            height: auto !important;
            display: inline-flex;
        }
        div{
            margin-bottom: 40rpx;
            color: #333;
            line-height: 180%;
        }
    }
   
}
