.workOrderSubmit {
  .van-form{
    padding: 0 16px;
    background-color: #ffffff;
    .van-cell{
      padding-left: 0;
      padding-right: 0;
    }

  }
  .van-form:nth-child(2){
    .van-field__body{
      .van-field__control{
        text-align: right;
      }
    }

  }

}